* {
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

body {
  background-color: white;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
  background-color: whitesmoke !important;
  padding: 1rem;
  width: 28vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.notbold {
  font-weight: normal;
}

.bookList {
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

.formContainer {
  margin: 45px;
  display: flex;
  justify-content: left;
  align-items: left;
  list-style: none;
  float: left;
  padding: 100px;
}

.login {
  justify-content: center;
  text-align: center;
}